** {
    box-sizing: border-box; 
 }
 
 body {
     background: snow;
 }
 
 header {
     background: rgb(4, 192, 89);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin-bottom: 100px;
 }
 
 a {
     color: snow;
 }