* {
   box-sizing: border-box; 
}

body {
    background: snow;
}

header {
    background: rgb(4, 192, 89);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
}

a {
    color: snow;
}

h1 {
    background: navy;
    color: snow;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
}

.content {
    background: rgb(4, 192, 89);
    text-align: center;
    color: snow;
    margin: 25px;
    margin-top: 200px;
}





