* {
   box-sizing: border-box; 
}

body {
    background: rgb(146, 196, 161);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
}

.navbar-brand {
    font-size: 50px;
    color: darkgreen;
    padding: 15px;
}

.nav-item a {
    color:  white;
}

.nav-item2 a {
    color: white;
}

.nav-item3 a {
    color: white;
}

.list-inline {
    margin: -45px;
    margin-right: 50px;
}

.list-inline-item {
    margin: 15px;
    float: right;
}

/* Start of container */

h1 {
    padding: 25px;
    width: 75%;
    background: rgb(9, 71, 9);
    color: snow;
    line-height: 200%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 200px;
}

img {
    width: 165px;
    height: 200px;
    float: left;
    padding: 10px;
}

/* Start of footer */
.bottom-container {
    height: 100px;
    background: black;
    text-align: left;
    color: snow;
    margin: 25px;
    margin-top: 200px;
}

.wrap{
    margin: 0 auto;
    padding: 2%;
    width: 20em;
  }
  
  .wrap div{
    display: inline-block;

  }
  
  .icon{
    background-color: black;
    background-repeat:no-repeat;
    background-position:center center;
    height: 5em;
    width: 5em;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
  }
  
  .goof{
    -webkit-transition: all 0.4s cubic-bezier(0,2,0,2);
    -moz-transition: all 0.4s cubic-bezier(0,2,0,2);
    -ms-transition: all 0.4s cubic-bezier(0,2,0,2);
    -o-transition: all 0.4s cubic-bezier(0,2,0,2);
    transition: all 0.4s cubic-bezier(0,2,0,2);
  }
  
  .goof:hover{
    background-size:35%;
  }
  
  .icon a{
    display: block;
    height: 100%;
    width: 100%;
  }

.github{
    background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC40IDMyIDMzIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMzIsMTZjMCw4LjgtNy4yLDE2LTE2LDE2QzcuMiwzMiwwLDI0LjgsMCwxNkMwLDcuMiw3LjIsMCwxNiwwQzI0LjgsMCwzMiw3LjIsMzIsMTYgTTIwLDI5YzUuNS0xLjgsOS41LTYuOSw5LjUtMTNjMC03LjUtNi0xMy41LTEzLjUtMTMuNUM4LjUsMi41LDIuNSw4LjUsMi41LDE2YzAsNi4xLDQsMTEuMiw5LjUsMTN2LTIuNWMtMy45LDAuOS00LjgtMS44LTQuOC0xLjhjLTAuNi0xLjYtMS41LTItMS41LTJjLTEuMy0wLjksMC4xLTAuOCwwLjEtMC44YzEuNCwwLjEsMi4xLDEuNCwyLjEsMS40YzEuMywyLjMsMy41LDEuNCw0LjIsMS4xYzAuMi0xLDEtMS4yLDEuMi0xLjNDOS44LDIyLjYsNiwyMS4zLDYsMTUuMmMwLTEuNywwLjYtMy4xLDEuNi00LjJjLTAuMi0wLjQtMC43LTIsMC4yLTQuMmMwLDAsMS4zLTAuNCw0LjMsMS42YzEuMy0wLjMsMi42LTAuNSwzLjktMC41YzEuMywwLDIuNywwLjIsMy45LDAuNWMzLTIsNC4zLTEuNiw0LjMtMS42YzAuOSwyLjIsMC4zLDMuOCwwLjIsNC4yYzEsMS4xLDEuNiwyLjUsMS42LDQuMmMwLDYuMS0zLjgsNy40LTcuMyw3LjhjMC42LDAuNCwxLjMsMS4zLDEuMywyLjhWMjl6Ii8+PC9zdmc+);
    background-size:60%; 
    float: left;
  }
  
  .github:hover{
    background-color:#6CC644;
  }

  .linkedin{
    background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC4zIDEwNSAxMDUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjcsMzQuNmgyMS43djY5LjdIMS43VjM0LjZ6IE0xMi42LDBjNi45LDAsMTIuNiw1LjYsMTIuNiwxMi42YzAsNi45LTUuNiwxMi42LTEyLjYsMTIuNkM1LjYsMjUuMSwwLDE5LjUsMCwxMi42QzAsNS42LDUuNiwwLDEyLjYsMCIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zNywzNC42aDIwLjh2OS41aDAuM2MyLjktNS41LDEwLTExLjMsMjAuNS0xMS4zYzIxLjksMCwyNiwxNC40LDI2LDMzLjJ2MzguMkg4Mi45VjcwLjRjMC04LjEtMC4yLTE4LjUtMTEuMy0xOC41Yy0xMS4zLDAtMTMsOC44LTEzLDE3Ljl2MzQuNUgzN1YzNC42eiIvPjwvc3ZnPg==);
    background-size:50%; 
    float: left;
  }

  .linkedin:hover{
    background-color:#007BB6;
  }




