 * {
    box-sizing: border-box; 
 }
 
 body {
     background: rgb(201, 243, 214);
 }
 
 header {
     background: rgb(4, 192, 89);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin-bottom: 100px;
 }

 a {
     color: snow;
 }

 .card {
    margin: 150px;
    background: navy;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    float: left;
 }

.card2 {
    margin: 150px;
    background: navy;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    float: left;
}

.card3 {
    margin: 150px;
    background: navy;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    float: left;
}
 
img {
    margin: 50px;
    width: 200px;
    height: 200px;
    clear: both;
}

