* {
   box-sizing: border-box; 
}

body {
    background: rgb(201, 243, 214);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: rgb(4, 192, 89);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
}

.navbar-brand {
    font-size: 50px;
    color: navy;
}

.nav-item a {
    color:  white;
}

.nav-item2 a {
    color: white;
}

.nav-item3 a {
    color: white;
}

.list-inline {
    margin: -45px;
    margin-right: 50px;
}

.list-inline-item {
    margin: 15px;
    float: right;
}


/* Start of photo cards */
 .card {
    margin: 150px;
    background: navy;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    float: left;
 }

.card2 {
    margin: 150px;
    background: navy;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    float: left;
}

.card3 {
    margin: 150px;
    background: navy;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    float: left;
}
 
img {
    margin: 50px;
    width: 200px;
    height: 200px;
    clear: both;
}


/* Start of footer */
.bottom-container {
    height: 100px;
    background: rgb(4, 192, 89);
    text-align: center;
    color: snow;
    margin: 25px;
    margin-top: 900px;
}

a {
    color: white;
}


